:root {
    /* Color Variables */
    --primary-color: #6B46C1;
    --primary-hover: #553C9A;
    --secondary-color: #2D3748;
    --background-color: #F7FAFC;
    --text-color: #1A202C;
    --error-color: #E53E3E;
    --border-color: #E2E8F0;
    --input-focus-color: #9F7AEA;
    --success-color: #48BB78;
    --google-color: #DB4437;
    --linkedin-color: #0077B5;

    /* Font Variables */
    --font-family: 'Inter', sans-serif;

    /* Shadow Variables */
    --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --hover-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    --gray-light: #EDF2F7;
    --gray-medium: #A0AEC0;

    --font-family: 'Inter', sans-serif;
    --header-height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

